h1 {
  color: blue;
}
p {
  color: white;
}
#profil {
  color: white;
}
#menu {
  color:white;
}
/*#menu {
   border-radius: 60px/15px;
   background: #FF0000;
   padding: 20px;
   width: 350px;
   height: 30px;
}*/
